
.carousel,
.carousel-inner,
.carousel-item,
.card-title,
.card-text {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}
.card-title{
    padding: 10px;
    font-size: medium;
}
.card-text{
    font-size: 18px;
}


.carousel {
  margin-top: 20px;
}

.card {

  width: 100%;
  height: 200px;
  background: transparent;
  color: aliceblue;
}

.card-body {
  padding: 20px;
  text-align: center;

}
.span-derecha {
    text-align: right;
  }
  h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: xx-large;

  }
