.buy-form-container {
    position: relative;
  }

  .form-title {
    margin-bottom: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    transform-origin: top;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
        font-family: 'Kanit', sans-serif;
      font-family: 'Red Hat Display', sans-serif;
      font-weight: 700;
  }

  label {
    margin-bottom: 8px;
  }

  input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .show-form {
    transform: translateY(0);
  }

  h1{
    font-family: 'Kanit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
  }
