/* Estilos para el contenedor principal del formulario de registro */

h1  {

  font-weight: 700;
}

.register-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  padding: 20px;

}

/* Estilos para el formulario de registro */
.register-form {
  display: flex;
  flex-direction: column;
}

/* Estilos para las etiquetas en el formulario de registro */
.label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}


.input {
  width: 100%;
  padding: 12px; /* Aumenta el espacio interno para hacerlo más bonito */
  margin-top: 8px;
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  font-weight: bold; /* Texto en negrita */
}


.register-form button[type="submit"] {
    background-color: #58AFFF;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;

}

.register-form button[type="submit"]:disabled {
    background-color: #F7931A;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
}


.register-form button[type="submit"]:hover {
    background-color: #4B9FE8;
}

.text{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}
label, input{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}
.register-link {
    text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
    color: #007bff; /* Color de texto predeterminado */
    transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
  }

  .register-link:hover {
    color: #ff5500; /* Cambia el color del texto al pasar el cursor sobre el enlace */
  }
/* Estilos para el contenedor de comentarios */
.comentarios-container {
    position: fixed;
    top: 50%;
    right: 300px;
    transform: translateY(-47%);
    width: 500px; /* Ajusta el ancho según tus preferencias */
    height: 500px;
    background-color: #FFFFFF;

    border-radius: 8px;
    padding: 10px;

  }

  /* Estilos adicionales según necesidades */
