<app-header></app-header>
<div class="register-container" >


<form class="register-form" #formRegister="ngForm" (ngSubmit)="registerUser()">
    <h1 class="text">Registro</h1>

  <label for="name">Ingrese su nombre</label>
  <input type="text" [(ngModel)]="user.name" name="name" required>

  <br>

  <label for="document">Ingrese documento</label>
  <input type="text" [(ngModel)]="user.document" name="document" required>

  <br>

  <label for="email">Ingrese email</label>
  <input type="text" [(ngModel)]="user.email" name="email" required>

  <br>

  <label for="password">Ingrese contraseña</label>
  <input type="password" [(ngModel)]="user.password" required name="password">


<button type="submit" [disabled]="formRegister.invalid">Registrarme</button>
<br>


</form>
<p>Ya tenes una cuenta?<a (click)="goToIniciarSesion()" class="register-link"> Iniciar sesion</a></p>


</div>
<div class="comentarios-container">
  <app-comentarios></app-comentarios>
</div>
