<header>
  <app-nav-bar></app-nav-bar>
</header>

<!-- TODO: CORREGIR EL LABEL DEL EMAIL CUANDO BAJA O SUBE -->

<section>
  <div class="form-box">
    <div class="form-value">
      <form [formGroup]="formLogin" (submit)="checkLog()">
        <h2>Iniciar sesion</h2>

        <div class="inputbox">
          <input type="text" id="email" formControlName="email" class="input" autocomplete="off" required>
          <label for="email">Email</label>
        </div>


        <div class="inputbox">
          <input type="password" id="password" formControlName="password" class="input" autocomplete="off" required>
          <label for="password">Contraseña</label>
        </div>


        <div class="forget">
          <label>
            <input type="checkbox" (click)="togglePasswordVisibility()" id="showPassword">
            Mostrar contraseña
          </label>
        </div>

        <p class="info-user" *ngIf="userLog">Error al iniciar sesion</p>

        <button type="submit" class="login-button" [disabled]="!camposCompletos()">Ingresar</button>

        <div class="register">
          <p>¿No tienes una cuenta?</p>
          <a (click)="goToRegistro()">¡Registrate aqui!</a>
        </div>

      </form>
    </div>
  </div>
</section>
