/* nav {
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: #e4b233 solid 0.5px;

} */

nav {
  padding: 0;
  /* background: url('src\assets\images\black_001.jpg') center center/cover fixed no-repeat; */
  background: rgb(226,192,110);
  background: linear-gradient(90deg, rgb(235, 203, 129) 0%, rgb(226, 191, 96) 50%);

  position: static;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: #e4b233 solid 0.5px;
  width: 100%;
  z-index: 1000;
  /* Asegura que la barra de navegación esté sobre el fondo desenfocado */
}

/* .navbar-background::before {
  content: "";
  background: url('src\assets\images\black_001.jpg') center center/cover fixed no-repeat;
  filter: blur(10px);

  position: static;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

} */

.navbar-nav {
  position: relative;
  z-index: 1;
  /* Asegura que los elementos de la barra de navegación estén por encima del fondo desenfocado */
}

/* Estilos adicionales según tus necesidades */
.navbar-nav .nav-link {
  margin-right: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  color: var(--color-primario);
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: var(--color-primario-hover);
  cursor: pointer;
}

.nav-link {

  margin-right: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;

}

li .fa-house-chimney {
  text-align: center;
  margin-bottom: 1rem;
}

.navbar-nav .nav-link,
.navbar-brand {
  color: black;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  transition: color 0.3s;

}

.navbar-nav .nav-link:hover,
.navbar-brand:hover {
  color: #e4b233;

  cursor: pointer;
}

img {
  padding: 10px;
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
  background: transparent;
}
