<header>
  <app-nav-bar></app-nav-bar>
</header>

<section *ngIf="existWallet">

  <div class="fondos-info">
    <h3>{{ currentWallet.fondos | currency:'USD':'symbol':'1.2-2' }}</h3>

    <form (ngSubmit)="onSubmit()" #f="ngForm">

      <div class="inputbox">
        <input type="text" pattern="[0-9]*" id="monto" name="monto"  [(ngModel)]="monto" autocomplete="off" required (input)="quitarLetras($event)" maxlength="7">
      </div>

    </form>
  </div>

  <p class="info-error" *ngIf="errorDepositar">Deposito minimo $50 dolares</p>
  <p class="info-error" *ngIf="errorRetirar">Retiro minimo $100 dolares</p>

  <div class="button-container">
    <button type="button" (click)="depositarFondos()">DEPOSITAR</button>
    <button type="button" (click)="retirarFondos()">RETIRAR</button>
  </div>


  <div class="form-box" *ngIf="currentWallet.coins.length > 0">

    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>ID</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of currentWallet.coins; let i = index">
          <td>{{ i + 1 }}</td>
          <td>

            <img class="imgTabla" [src]="coin.image" alt="{{ coin.id }}">
            <span>{{coin.id}}

            </span>
            <span>{{coin.symbol}}
            </span>
          </td>
          <td>{{ coin.coinAmount }}</td>
        </tr>
      </tbody>
    </table>

  </div>


</section>



