<header>
  <app-nav-bar></app-nav-bar>
</header>

<section>
  <div class="container-titulo">
    <h1>COMPRA VENDE GANA</h1>
  </div>

  <div class="contenedor-p">
    <h2>UTN BROKER: Tu Plataforma Confiable para Operar con más de 100 Criptomonedas</h2>

    <p>Únete a UTN Broker, la plataforma líder que te ofrece acceso a una amplia variedad de más de 100 criptomonedas
      para operar en el mercado</p>
    <p>
      Nos comprometemos a proporcionarte un servicio seguro y sencillo que te brinde la confianza necesaria para
      invertir en el mundo de las criptomonedas
    </p>

  </div>






  <div class="coins-container-1">

    <div class="contenedor-2">
      <img src="assets/images/btclogo_001.png" alt="Bitcoin">

      <h3>BITCOIN</h3>
    </div>

    <div class="contenedor-2">
      <img src="assets/images/ethlogo_001.png" alt="Bitcoin">
      <h3>ETHEREUM</h3>
    </div>

    <div class="contenedor-2">
      <img src="assets/images/usdtlogo_001.png" alt="Bitcoin">
      <h3>THETER</h3>
    </div>

    <div class="contenedor-2">
      <img src="assets/images/bnblogo_001.png" alt="Bitcoin">
      <h3>BINANCE</h3>
    </div>

  </div>

</section>


<!--<section>

    <h1>UTN-BROKER</h1>

   <div class="form-box">

    <div *ngIf="!userLoged.isLoged" class="text">
      <h2>¡Contamos con las 100 mejores criptos del momento!</h2>
      <p>
        Bienvenido a UTN-Broker, tu plataforma confiable para invertir y negociar con las 100 mejores criptomonedas del
        momento. En UTN-Broker, estamos comprometidos a proporcionarte una experiencia segura y sencilla para que puedas
        explorar el emocionante mundo de las criptomonedas.
      </p>
      <p>
        ¿Te gustaría potenciar tu inversión? Con nosotros, puedes realizar acciones como depositar fondos, retirar tus
        ganancias, comprar y vender criptomonedas, e incluso participar en operaciones de trading. Nuestra plataforma
        intuitiva te ofrece todas las herramientas que necesitas para tomar decisiones informadas y alcanzar tus
        objetivos
        financieros.
      </p>
      <p>
        ¿Listo para comenzar tu viaje financiero? Regístrate ahora y únete a una comunidad apasionada de inversores. En
        UTN-Broker, tu éxito es nuestra prioridad.
      </p>

      <div class="register">
        <a href="/register">¡Regístrate ahora!</a>
      </div>


    </div>
    <div *ngIf="userLoged.isLoged" class="text">
      <h2>Bienvenido {{ userLoged.name }}!</h2>
      <p>
        Gracias por elegir UTN-Broker, tu plataforma confiable para invertir y negociar con las 100 mejores
        criptomonedas del momento.
        En UTN-Broker, estamos comprometidos a brindarte una experiencia personalizada y segura para que puedas
        continuar explorando
        el emocionante mundo de las criptomonedas.
      </p>
      <p>
        Con tu cuenta, tienes acceso a funciones exclusivas. Puedes realizar acciones como depositar fondos, retirar tus
        ganancias,
        comprar y vender criptomonedas, y participar en operaciones de trading. Nuestra plataforma intuitiva te ofrece
        todas las
        herramientas que necesitas para tomar decisiones informadas y alcanzar tus objetivos financieros de manera
        eficiente.
      </p>
      <p>
        ¡Sigamos avanzando en tu viaje financiero! Explora las funciones avanzadas de UTN-Broker y únete a una comunidad
        apasionada
        de inversores. Recuerda que tu éxito es nuestra prioridad y estamos aquí para apoyarte en cada paso del camino.
      </p>

      <div class="register2">
        <a href="/main">¡Ir al Market!</a>
      </div>

    </div>
  </div>

  <app-comentarios></app-comentarios>
</section>
  -->
