@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background: url('src\assets\images\background01.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
}

.form-box{
  position: relative;
  width: 1300px;
  height: 600px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 30px;
}

h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 16px;
  line-height: 2.5;
  font-weight: 500;
}

.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 40px 0 10px;
  cursor: pointer;
  font-size: 30px;
}

.register2{
  font-size: .9em;
  text-align: center;
  margin: 40px 0 10px;
  cursor: pointer;
  font-size: 35px;
}

.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;

}

/*


.container {
    margin-top: 100px;
    display: flex;
    align-items: center;
  }

  .text {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    flex: 1;
    padding: 20px;
  }

  h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: rgb(255, 153, 0);
    line-height: 1.5;
    font-size: 44px;
    margin: 0;
  }

  p {
    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
    line-height: 2.5;
  }

  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
  }

  .text {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
  }

  h1 {
    font-size: 36px;
    color: #3498db;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .cta {
    margin-top: 30px;
  }

  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #219653;
  }


.centrar-verticalmente {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 10vh;
}

.titulo {
  font-size: 5rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  color: #ff5500;
  margin-top: 50px;
} */
