
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.container {
    margin-top: 100px;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
  }

  .text {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    flex: 1; /* El texto ocupará todo el espacio disponible en el contenedor */
    padding: 20px; /* Agrega espacio alrededor del texto */
  }

  h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: rgb(255, 153, 0);
    line-height: 1.5;
    font-size: 44px;
    margin: 0; /* Elimina el margen superior predeterminado */
  }

  p {
    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
    line-height: 2.5;
  }

  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
  }

  .text {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
  }

  h1 {
    font-size: 36px;
    color: #3498db;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .cta {
    margin-top: 30px;
  }

  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #219653;
  }

/* app.component.css */
.centrar-verticalmente {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 10vh; /* Opcional: ajusta la altura según tus necesidades */
}

.titulo {
  /* Añade otros estilos según sea necesario */
  font-size: 5rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  color: #ff5500;
  margin-top: 50px;
}
