/* Estilos para el elemento de pie de página (marquee) */
.footer {
    background-color: #333; 
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
