/* Estilo para el contenedor del diálogo */

form{
padding: 20px;
background: #f1ece7;
border-radius: -100%;
width: 100%;
height: auto;
}

.titulo-2 {
  color: var(--color-primario);
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.precio-cripto {
  color: var(--color-primario);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

h6{
  font-size: small;
  font-weight: 500;
  color: black
}


.info-container {
  margin-top: 5%;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}


.info-label{
color: blac;
text-align: left;


}

input{
  border: none;
  width: 100%;
  padding: 8px;
  color: black;
  font-weight: normal;
  margin-bottom: 7%;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: transparent;
  color: black;
}

input:focus{
outline: none;

}

.info-fondos{
  text-align: center;
  font-size: 0.9rem;
}

.fa-coins{
  font-weight: 700;
}

.info-final{
  margin-top: -10px;
  color: #81c784;
}

.fa-circle-check{
  margin-right: 2%;
}


p {
  color: #262926;
  }









.container button {
  border: none;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  font-size: 4rem;
  background: none;
}

.container .borde-activo  {
  border-bottom: 3px solid var(--color-primario);
}




.confirmar  {
  color: #fff;
  background-color: #388e3c;
  padding: 10px 15px;
  margin-left: 15%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelar {
  color: #fff;
  background-color: #d32f2f;
  padding: 10px 20px;
  margin-left: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




.fa-dollar-sign,
.fa-bitcoin {
  border: none;
  color: var(--color-primario);
  margin: 1rem;
}


