<!-- <div mat-dialog-actions>
  <h1> BIENVENIDO {{ data.titulo }}</h1>
  <div mat-dialog-content> Hola! {{ data.usuario }} </div>
  <div mat-dialog-content > Moneda a comprar: {{data.coin}}</div>
  <div mat-dialog-content> Tus fondos: {{data.wallet}}</div>
  <div mat-button (click)="cerrar()">CERRAR DIALOG</div>
</div> -->

<form *ngIf="data.tipoOperacion == 0">
  <h1> COMPRA </h1>
  <h2 mat-dialog-content> {{data.coin.id}}</h2>
  <br>
  <div mat-dialog-content>{{ data.coin.name }} : ${{ data.coin.current_price }}</div>
  <br>
  <div mat-dialog-content> Tus fondos: {{data.wallet.fondos}} </div>
  <label for="compraEnDolares">Cantidad a comprar en dólares</label>
  <input type="number" id="compraFondos" name="compraFondos" (input)="calcularPrecio()" [(ngModel)]="data.compraFondos">
  <br>
  <p mat-dialog-content *ngIf="data.cantidadCoinFinal">
    Con la compra de ${{data.compraFondos}} <br> Obtendras un total de ${{ data.cantidadCoinFinal }}
  </p>
  <button class="confirmar" mat-button (click)="confirmarCompra()">CONFIRMAR COMPRA</button>
  <button class="cancelar" mat-button (click)="dialog.close()">CANCELAR COMPRA</button>
</form>

<form *ngIf="data.tipoOperacion == 1">
  <h1> VENTA </h1>
  <h2 mat-dialog-content > {{data.coin.id}} </h2>
  <br>
  <div mat-dialog-content>{{ data.coin.name }} : ${{ data.coin.current_price }}</div>
  <br>
  <div mat-dialog-content> Tus fondos: {{data.wallet.fondos}} </div>
  <label for="inputDolares">Ingrese cantidad de dolares a vender</label>
  <input type="number" name="inputDolares" id="inputDolares" (input)="calcularPrecioVenta()" [(ngModel)]="data.inputDolares">
  <p mat-dialog-content *ngIf="data.precioCripto">
    Depositando ${{ data.inputDolares }} se venderan {{data.precioCripto}} de tu billera online.
  </p>
  <button class="confirmar" mat-button (click)="confirmarVenta()">CONFIRMAR VENTA</button>
  <button class="cancelar" mat-button (click)="dialog.close()">CANCELAR COMPRA</button>
</form>



  <!-- <mat-slider min="0" step="0" max="{{data.wallet.fondos}}" color="accent" discrete="true">
    <input matSliderThumb [(ngModel)]="data.cantidad">
  </mat-slider>
  <br> -->
