<div class="buscarCoin">
  <input class="search-input" placeholder="Buscar coin" type="text" (keyup)="buscarCoin()"
    [(ngModel)]="coinBusquedaInput">
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Número</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Última Actualización</th>
        <th>Compra</th>
        <th>Venta</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let coin of coinsApiFiltradas; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td class="info-coin">

            <img class="imgTabla" [src]="coin.image" alt="{{coin.name}}">
            <span>{{coin.name}}

            </span>
            <span>{{coin.symbol}}
            </span>
          </td>
          <td>${{ coin.current_price }}</td>
          <td>{{ coin.last_updated | date:'dd-MM-yyyy HH:mm:ss \'HS\''}}</td>
          <td><button class="btn-compra" (click)="coinToBuy(coin)">Comprar</button></td>
          <td *ngIf="filtrarCoinsUsuario(coin)"><button class="btn-venta" (click)="coinToSell(coin)">Vender</button>
          </td>
          <td *ngIf="!filtrarCoinsUsuario(coin)"><button class="btn-no-venta">Vender</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
