/* Estilos para el contenedor de la tabla */
.table-container {

  display: flex; /* Utilizamos flexbox para alinear los elementos */
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */


  max-height: 300px;
  overflow-y: auto; /* esto genera la barra lateral*/


}

/* Estilos para la tabla */
table {
  width: 50%;
  border-collapse: collapse;
  border-spacing: 0;
}
/* /* 
estilos para barra lateral
/* Estilos para la barra de desplazamiento en WebKit */
.table-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar (el control deslizante) */
  border-radius: 10px; /* Borde redondeado del pulgar */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el cursor sobre él */
}

.table-container::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Color de fondo de la pista de desplazamiento */
  border-radius: 10px; /* Borde redondeado de la pista de desplazamiento */
}



/* Estilos para las filas pares e impares */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para las celdas */
td, th{
  padding: 12px;
  border: 1px solid #e0e0e0;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
}
span{
    font-family: 'Montserrat', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
}

/* Estilos para el encabezado de la tabla */
thead {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

/* Estilos para enlace "Ver más" */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para enlace "Ver más" en estado desactivado */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.imgTabla{
  width: 2rem;
}

.button-vermas{
  display: flex; /* Utilizamos flexbox para alinear los elementos */
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */

}
.full-width-input {
 right: 50;
  text-align: right; /* Texto alineado a la derecha dentro del input */
}
/* Estilos para el input de búsqueda */
.search-input {
  width: 20%;
  margin-right: 400px;
  padding: 10px; /* Espaciado interno */
  border: 2px solid #ccc; /* Borde con color de fondo */
  border-radius: 20px; /* Borde redondeado */
  font-size: 16px; /* Tamaño de fuente */
  background-color: #f5f5f5; /* Color de fondo */
  color: #333; /* Color del texto */
  outline: none; /* Elimina el contorno al enfocar */
}

/* Estilo para cuando el input está enfocado */
.search-input:focus {
  border-color: #007bff; /* Cambia el color del borde al enfocar */
  background-color: #fff; /* Cambia el color de fondo al enfocar */
}

/* Estilo para el icono de búsqueda (puedes usar un icono de búsqueda o una fuente de iconos) */
.search-icon {
  position: absolute;
  top: 50%;
  right: 20px; /* Posición del icono a la derecha */
  transform: translateY(-50%);
  color: #777; /* Color del icono */
  font-size: 20px;
}

/* Alinea el texto del input a la izquierda para que el icono esté a la derecha */
.search-input::placeholder {
  text-align: left;
}
