<header>
  <app-nav-bar></app-nav-bar>
</header>


<div class="container">
  <div class="contact-box">
    <div class="left">
      <a [href]="'https://github.com/BrianChaste'" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a [href]="'https://www.linkedin.com/in/brian-chiastellino/'" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="right">
      <h2>Contactanos</h2>
      <input type="text" class="field" placeholder="Nombre">
      <input type="text" class="field" placeholder="Email">
      <input type="text" class="field" placeholder="Asunto">
      <textarea placeholder="Escriba su mensaje.." class="field" style="resize: none;"></textarea>
      <button class="btn">Enviar</button>
    </div>
  </div>
</div>
