<form *ngIf="coinSelected && walletLog"  [ngClass]="{'show-form': showForm}">
  <h1 *ngIf="coinSelected" class="form-title">{{ coinSelected.name }}</h1>

  <label for="cantidad">Cantidad que desea comprar</label>
  <input type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad" (input)="calcularPrecio()">


  <div *ngIf="coinSelected">
    {{ coinSelected.name }} : $ {{ coinSelected.current_price }}
    <!-- Ajusta según la propiedad real que contiene el precio -->
  </div>

  <br>

  <label for="Pesos">USD</label>
  <input type="number" id="pesos" name="pesos" [(ngModel)]="pesos" placeholder="{{ walletLog.fondos }}"
    (input)="calcularCompra()">
  <div *ngIf="walletLog">
    <p>Total $USD: {{ walletLog.fondos}}</p>
  </div>

  <div *ngIf="valorCompra > 0">
    <h2> {{valorCompra}} </h2>
  </div>
  <div *ngIf="valorCompraPesos > 0">
    <h3>Puedes comprar aproximadamente {{ cantidad | number:'1.2-2' }} unidades de {{ coinSelected.name }} con ${{ pesos
      | number:'1.2-2' }}.</h3>
  </div>

  <button (click)="confirmarCompra()" >Confirmar compra</button>


</form>

<div [ngClass]="{'show-form': showForm}" class="depositar-fondos-container">
  <button (click)="goToCreateWallet()" class="button-fondos">Depositar fondos</button>
</div>


