.buy-form-container {
  position: relative;
}

.form-title {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  transform-origin: top;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  font-family: 'Kanit', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.show-form {
  transform: translateY(0);
}

h1{
  font-family: 'Kanit', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
}

.button-container {
  position: relative;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}

.button {
  margin-left: 84%;
  margin-bottom: 13%;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.depositar-fondos-container {
  position: relative;
}

.button-fondos {
  position: absolute;
  top: -250px;
  left: 83%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  z-index: 4;
}

.notification-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.custom-notification {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ff0000; /* Color de fondo del mensaje */
  color: #ffffff; /* Color del texto del mensaje */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notification-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.remaining-time {
  margin-top: 5px;
}

.esconder {
  margin-top: 10px;
  cursor: pointer;
}





