/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat:wght@100&family=Red+Hat+Display&display=swap');

:root{
  --color-primario: #ffc93c;
  --color-primario-hover: #e4b233;
  --color-gris-primario: #F5F7F8;
}

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

footer {

  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
}





.error-toast {
  background-color: yellow !important;
  color: #0056b3 !important;
  font-weight: bolder;
}




