<carousel class="slide" [interval]="5000" pause="false">
    <slide *ngFor="let comentario of comentarios">
        <div class="card">
            <div class="card-body">
                <h1>Comentarios</h1>
          <h5 class="card-title">{{ comentario.detalle }}</h5>
          <p class="card-text">{{ comentario.fecha }}</p>
        </div>
      </div>
    </slide>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

    </a>
  </carousel>
  