/* app.component.css */

nav{
 margin: 0;
 padding: 0;
 position: fixed;
 left: 0;
 top: 0;;
}

  .navbar-nav .nav-link, .navbar-brand {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    transition: color 0.3s, background-color 0.3s;
    background: transparent;
  }

  .navbar-nav .nav-link:hover, .navbar-brand:hover {
    color: #ff5500; /* Cambia el color al pasar el ratón por encima */
    background: transparent; /* Cambia el color de fondo al pasar el ratón por encima */
    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
  }

img {
  padding: 10px;
  width: 50px; /* Establece el ancho de la imagen */
  margin-right: 10px; /* Agrega un margen derecho para separar el icono del título */
  cursor: pointer;
  background: transparent;
}