<button class="boton-Sd" (click)="viewSideBar()">Menu</button>
<div class="sidebar" *ngIf="sideBarOn">
  <ul>
    <li class="sidebar-link" (click)="goToHome()">Home</li>
    <br *ngIf="loginOnSideBar">
    <li class="sidebar-link" *ngIf="loginOnSideBar" (click)=" goToMyWallet()">Mi wallet</li>
    <br *ngIf="!loginOnSideBar">
    <li class="sidebar-link" *ngIf="!loginOnSideBar" (click)=" goToLogin()">Iniciar sesion</li>
    <br *ngIf="!loginOnSideBar">
    <li class="sidebar-link" *ngIf="!loginOnSideBar" (click)="goToRegister()">Registrarme</li>
    <br>
    <li class="sidebar-link">Proximamente</li>
    <br>
    <li class="sidebar-link">Contacto</li>
    <br *ngIf="loginOnSideBar">
    <li class="sidebar-link" *ngIf="loginOnSideBar" (click)=" cerrarSesion()">Cerrar sesion</li>
  </ul>

</div>
