<!-- app.component.html -->
<nav class="navbar navbar-expand-lg" >
  <img (click)="goToHome()" src="..\assets\utn-logo.png" alt="">
  <!-- <a class="navbar-brand" (click)="goToHome()" style="font-family: 'Kanit', sans-serif; font-weight: 700;">Home</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" (click)="goToHome()" >Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="loginOnSideBar" (click)="goToMyWallet()">My wallet <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginOnSideBar" (click)="goToMarket()">Market</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!loginOnSideBar" (click)="goToLogin()">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!loginOnSideBar" (click)="goToRegister()">Registrarme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Proximamente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Contacto</a>
      </li>
      <li class="nav-item" *ngIf="loginOnSideBar">
        <a class="nav-link" (click)="cerrarSesion()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>



<!-- <button class="boton-Sd" (click)="viewSideBar()">Menu</button>
<div class="sidebar" *ngIf="sideBarOn">
  <ul>
    <li class="sidebar-link" (click)="goToHome()">Home</li>
    <br *ngIf="loginOnSideBar">
    <li class="sidebar-link" *ngIf="loginOnSideBar" (click)=" goToMyWallet()">Mi wallet</li>
    <br *ngIf="loginOnSideBar">
    <li class="sidebar-link" *ngIf="loginOnSideBar" (click)="goToMarket()">Market</li>
    <br *ngIf="!loginOnSideBar">
    <li class="sidebar-link" *ngIf="!loginOnSideBar" (click)=" goToLogin()">Iniciar sesion</li>
    <br *ngIf="!loginOnSideBar">
    <li class="sidebar-link" *ngIf="!loginOnSideBar" (click)="goToRegister()">Registrarme</li>
    <br>
    <li class="sidebar-link">Proximamente</li>
    <br>
    <li class="sidebar-link">Contacto</li>
    <br *ngIf="loginOnSideBar">
    <li class="sidebar-link" *ngIf="loginOnSideBar" (click)=" cerrarSesion()">Cerrar sesion</li>
  </ul>

</div>
 -->
